<div class="jumbotron" style="margin-bottom:0px;padding-bottom: 30px;background-size: 100% 100%;background-image: url('/assets/portada.jpeg')">
  <div class="container">
    <div class="row">
      <div style="text-align: justify;background: rgba(0, 0, 0, 0);padding-top: 30px;padding-bottom: 50px">
        <h1 class="display-3" style="text-shadow: black 0.1em 0.1em 0.2em;font-weight: 900;color: white;font-size:50px">Open Orchestrator Cloud RAN</h1>
        <h2 style="padding: 7px 7px 7px 7px;text-shadow: black 0.4em 0.4em 0.4em;font-weight: 900;color: white;">Fourth release is now available !</h2>
        <h3 style="padding: 7px 7px 7px 7px;text-shadow: black 0.4em 0.4em 0.4em;font-weight: 900;color: white">OOCRAN is an open source project for Wireless Communication Orchestration sponsored by the NLnet foundation.</h3>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="container">
  <div class="row" style="text-align: center">
    <div class="col-md-4" style="margin-bottom: 50px;margin-top: 10px">
      <h1>Orchestration</h1>
      <br>
      <%=image_tag("management.png", alt: "schedulers", style: "width:100%")%>
      <br><br>
      <h3>Automate the provisioning and configuration of NS through schedulers.</h3>
    </div>
    <div class="col-md-4" style="margin-bottom: 50px;margin-top: 10px">
      <h1>Resources Pool</h1>
      <br>
      <%=image_tag("resourcesPool.png", alt: "pool", style: "width:100%")%>
      <br><br>
      <h3>Manage the computational and IT resources in pools.</h3>
    </div>  
    <div class="col-md-4" style="margin-bottom: 50px;margin-top: 10px">
      <h1>Management</h1>
      <br>
      <%=image_tag("orchestration.png", alt: "cost", style: "width:100%")%>
      <br><br>
      <h3>Administrate the virtual infrastructure throught schedulers and alarms.</h3>
    </div>
  </div>
</div>

<div>
  <div class="row" style="text-align: center">
    <div class="col-md-6" style="margin-bottom: 50px;margin-top: 50px">
      <iframe width="620" height="450" src="https://www.youtube.com/embed/cccJO4w3CXY"></iframe>
    </div>
    <div class="col-md-6" style="margin-bottom: 50px;margin-top: 50px">
      <h1>TestBed</h1>
      <h3>Check the OOCRAN funcionalities:</h3>
      <ul style="font-size:20px;text-align: left">
        <li>Schedulers</li>
        <li>Alarms</li>
        <li>EMS</li>
        <li>Script Cataleg</li>
        <li>Network Functions</li>
        <li>Network Services</li>
        <li>NVF data collection</li>
        <li>Orchestration</li>
        <li>Spectrum and computation sharing</li>
      </ul>
    </div> 
  </div>
</div>  

<br>
<div style="background-image: url('/assets/updates.jpg');background-size: 110% 130%;;padding-top: 50px;padding-bottom: 200px">
  <div style="font-size: 20px;margin-left: 130px;margin-right: 130px">
    <h2 style="text-align: center">What is OOCRAN?</h2>
    <h3>OOCRAN’s main objective is to facilitate sharing wireless physical resources, including radio spectrum, by creating, coordinating and managing several virtual infrastructures of different service providers under a “spectrum and infrastructure on demand” policy.</h3>
  </div>
</div>

<div style="padding-bottom: 50px">
  <div class="container">
    <div class="row" style="text-align: center">
      <div class="col-md-4" style="margin-top: 80px">
        <i style="font-size: 80px" class="fa fa-wifi" aria-hidden="true"></i>
        <h1 style="margin-top: 10px">Spectrum Sharing</h1>
        <h4>Manage radio spectrum as another resource pool.</h4>
      </div>
      <div class="col-md-4" style="margin-top: 80px">
        <i style="font-size: 80px" class="fa fa-calendar-o" aria-hidden="true"></i>
        <h1 style="margin-top: 10px">Automate Workflows</h1>
        <h4>Orchestrate Network Services automatically through schedulers.</h4>
      </div>
      <div class="col-md-4" style="margin-top: 80px">
        <i style="font-size: 80px" class="fa fa-line-chart" aria-hidden="true"></i>
        <h1 style="margin-top: 10px">Cost Management</h1>
        <h4>Administrate the cost and usage of your Network Services.</h4>
      </div>
      <div class="col-md-4" style="margin-top: 80px">
        <i style="font-size: 80px" class="fa fa-sitemap" aria-hidden="true"></i>
        <h1 style="margin-top: 10px">Extensibility</h1>
        <h4>OOCRAN can be easily extended supporting additional use cases.</h4>
      </div>
      <div class="col-md-4" style="margin-top: 80px">
        <i style="font-size: 80px" class="fa fa-users" aria-hidden="true"></i>
        <h1 style="margin-top: 10px">Open Community</h1>
        <h4>Participate in the development, fork us on github.</h4>
      </div>
      <br><br>
      <div class="col-md-4" style="margin-top: 80px">
        <i style="font-size: 80px" class="fa fa-github-square" aria-hidden="true"></i>
        <h1 style="margin-top: 10px">Open Source</h1>
        <h4>OOCRAN code has been developed under the MIT license.</h4>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #fafafa; text-align: center">
  <div class="container">
    <div style="margin-bottom: 20px"><h1 style="">Recent Updates</h1></div>
    <div class=row >
      <div class="col-md-3" style="margin-bottom:80px">
        <h1 style="padding: 5px 5px 5px 5px;background-color:grey;color:white;font-weight: 900"> <%=image_tag("icon_news3.png", alt: "News", style: "width:20px")%> News</h1>
        <% @news.each do |new| %>
          <div >
            <h3><%= link_to new.title, new,  style: "color:black;text-decoration:none" %></h3>
            <h4><%= new.created_at.strftime("%B %d, %Y") %></h4>
          </div>
        <%end%>
      </div>
      <div class="col-md-3" style="margin-bottom: 80px">
        <h1 style="padding: 5px 5px 5px 5px;background-color:grey;color:white;font-weight: 900"><%=image_tag("icon_downloads2.png", alt: "News", style: "width:20px")%> Downloads</h1>
        <% @downloads.each do |download| %>
            <div>
              <h3><%= link_to download.name, downloads_path,  style: "color:black;text-decoration:none" %></h3>
              <h4><%= download.created_at.strftime("%B %d, %Y") %></h4>
            </div>
        <%end%>
      </div>
      <div class="col-md-3" style="margin-bottom: 80px">
        <h1 style="padding: 5px 5px 5px 5px;background-color:grey;color:white;font-weight: 900"><%=image_tag("icon_milestones2.png", alt: "News", style: "width:20px")%> Milestones</h1>
        <div>
          <h3><a style="color:black;text-decoration:none;text-align: center" href="https://trello.com/b/LRjh0hs3/oocran">PoP Selection</a></h3>
          <h4>October, 30, 2017</h4>
        </div>
        <div>
          <h3><a href="https://trello.com/b/LRjh0hs3/oocran" style="color:black;text-decoration:none">Improve GUI</a></h3>
          <h4>October, 30, 2017</h4>
        </div>
        <div>
          <h3><a href="https://trello.com/b/LRjh0hs3/oocran" style="color:black;text-decoration:none">MultiBands</a></h3>
          <h4>October, 30, 2017</h4>
        </div>
        <div>
          <h3><a href="https://trello.com/b/LRjh0hs3/oocran" style="color:black;text-decoration:none">Nix package</a></h3>
          <h4>October, 30, 2017</h4>
        </div>
      </div>
      <div class="col-md-3" style="margin-bottom: 80px">
        <h1 style="padding: 5px 5px 5px 5px;background-color:grey;color:white;font-weight: 900"><%=image_tag("icon_wiki2.png", alt: "News", style: "width:20px")%> Wiki</h1>
        <div>
          <h3><a style="color:black;text-decoration:none" href="https://github.com/oocran/oocran/wiki/Alert">Alerts</a></h3>
          <h4>August, 12, 2017</h4>
        </div>
        <div>
          <h3><a href="https://github.com/oocran/oocran/wiki/Schedulers" style="color:black;text-decoration:none">Schedulers</a></h3>
          <h4>August, 12, 2017</h4>
        <div>
          <h3><a style="color:black;text-decoration:none" href="https://github.com/oocran/oocran/wiki/BBU-Pool">BBU Pool</a></h3>
          <h4>May, 12, 2017</h4>
        </div>
        <div>
          <h3><a href="https://github.com/oocran/oocran/wiki/Grafana-template" style="color:black;text-decoration:none">Grafana</a></h3>
          <h4>May, 12, 2017</h4>
        </div>  
      </div>
    </div>  
  </div>
</div>